<div id="about">
  <div id="about-card">
    <div id="about-btn-close">
      <i class="fa fa-remove"></i>
    </div>
    {{ with ($.Scratch.Get "authorPicture") }}
      <img id="about-card-picture" src="{{ . }}{{ if in . "//www.gravatar.com/avatar/" }}?s=110{{ end }}" alt="{{ i18n "global.author_picture" }}" />
    {{ end }}
    <h4 id="about-card-name">{{ .Site.Author.name }}</h4>
    {{ with .Site.Author.bio }}
      <div id="about-card-bio">{{ . }}</div>
    {{ end }}
    {{ with .Site.Author.job }}
      <div id="about-card-job">
        {{ . }}
      </div>
    {{ end }}
    {{ with .Site.Author.location }}
      <div id="about-card-location">
        <i class="fa fa-map-marker"></i>
        <br/>
        {{ . }}
      </div>
    {{ end }}
    <div>
        <table style="width: 20px;" align="center">
          <thead>
            <td><a href="https://twitter.com/reezaras"><i class="fa fa-lg fa-twitter"></i></a></td>
            <td><a href="https://www.linkedin.com/in/rezarasouli"><i class="fa fa-lg fa-linkedin"></i></a></td>
          </thead> 
        </table>
    </div>
    
  </div>
</div>
